//bootstrap default colors
$c-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$c-success:         #5cb85c !default;
$c-info:            #5bc0de !default;
$c-warning:         #f0ad4e !default;
$c-danger:          #d9534f !default;